<Title:>
    Список пользователей

<Body:>
    <div class="row-fluid">
        <div class="span12 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Имя пользователя</td>
                        <td>Заказ</td>
                        <td colspan="2">Сумма</td>
                    </tr>
                </thead>
                <tbody>
                    {#each _page.users as :user}
                    <tr>
                        <td>{:user.name}</td>
                        <td>{getOrderText(:user, _page.courses)}.</td>
                        <td>{getOrderPrice(:user, _page.courses)} р.</td>
                        <td><button class="btn btn-mini" x-bind="click: clearUser" title="Очистить данные пользователя"><i class="icon-remove"></i></button></td>
                    </tr>
                    {/}
                </tbody>
            </table>
        </div>
    </div>