@import 'nib/vendor'

.container
  padding: 0 10px

.content
  padding: 80px 0

footer
  border-top: 1px solid #eee
  padding: 19px 0

.hide-important
  display: none !important

.show-grid
  margin-bottom: 20px
  margin-top: 10px

.selectable
  cursor: pointer

.price
  font-weight bold
  font-size larger

.toggle-link
  border-bottom: 1px dashed

a.toggle-link:hover
  text-decoration: none